.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
    position: relative;
    /* background-color: #000; */ 
  }
  
  .Auth > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  
  
  /* left side */
  .a-left{
      gap: 2rem;
      /* background-image: linear-gradient(to bottom, #124552, #022429, #042a2e, #083133, #0e3837); */
      background-color: aliceblue;
      height: 30rem;
      width: 30rem;
      border-radius: 1rem;
      
  }
  .Webname{
    display: flex;
    flex-direction: column;
    /* padding: 0; */
  }
  .Webname p{
    color: #008170;
    font-weight: bolder;
    font-size: 2.7rem;
    margin: 0;
    
  }
  .Webname h2{
    font-size: 1.8rem;
  
  }
  
  .a-left > img {
    width: 12rem;
    margin-left: -10rem;
    /* height: 4rem; */
  }
  
  /* .Webname > h1 {
      font-size: 2.5rem;
      background-color: red;
    
      
      background-image: var(--buttonBg);
      
    
      background-size: 100%;
      background-repeat: repeat;
    
     
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
  } */
  
  
  /* .Webname>h6{
      font-size: 0.85rem;
  } */

  .a-right{
    /* background-color: aliceblue; */
      height: 30rem;
      width: 30rem;
      border-radius: 1rem;
  }

  .infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 25rem;
    gap: 2rem;
  }
  
  .infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    max-width: 17rem;
    flex:1;
  }
  
  .infoForm>div{
    display: flex;
    gap: .4rem;
    height: 2rem;
    width: 90%;
  }
  
  .infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
  }
  
  
  .authForm{
      /* background-color: var(--cardColor); */
      background-color: #232D3F;
      border-radius: 1rem;
      padding: 1rem;
      width: 30rem;
  }
  
  .authForm>div{
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  input{
    height: 8px;
  }
  .infoForm h3{
    font-size: 2.2rem;
    margin-top: -10px;
    margin-bottom: 0;
  }
  .username{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
  }